<div id="search-indicator"></div>
<script type="text/javascript" nonce="<%=getScriptNonce()%>">

    Ext4.onReady(function(){
        Ext4.create('Ext.panel.Panel', {
            border: false,
            renderTo: 'search-indicator',
        });
        Ext4.get('search-indicator').mask('Search is running, results pending...');

        let webpart = <%=webpartContext%>;
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const peptideSequence = urlParams.get('peptideSequence');

        let wp = new LABKEY.QueryWebPart({
            renderTo: webpart.wrapperDivId,
            frame: 'portal',
            title: 'Search criteria : ' + peptideSequence ,
            schemaName: 'panoramapublic',
            queryName: 'peptideSearchResults',
            showFilterDescription: false,
            parameters: {peptideSequence : peptideSequence},
            success: function () {
                if (Ext4.get('search-indicator')) {
                    Ext4.get('search-indicator').unmask();
                }
            }
        });
        wp.render();
    });

</script>