<div id="search-indicator"></div>
<script type="text/javascript" nonce="<%=getScriptNonce()%>">

        let webpart = <%=webpartContext%>;
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const peptideSequence = urlParams.get('peptideSequence');
        const exactMatch = urlParams.get('exactMatch');

        let wp = new LABKEY.QueryWebPart({
            renderTo: webpart.wrapperDivId,
            frame: 'portal',
            title: 'Search criteria : ' + peptideSequence + ' & exact match: ' + exactMatch ,
            schemaName: 'panoramapublic',
            queryName: 'peptideSearchResults',
            showFilterDescription: false,
            parameters: {peptideSequence : peptideSequence, exactMatch: exactMatch},
            containerFilter: LABKEY.Query.containerFilter.currentAndSubfolders,
            success: function () {
            }
        });
        wp.render();
</script>