<div id="search-indicator"></div>
<script type="text/javascript" nonce="<%=scriptNonce%>">

        let webpart = <%=webpartContext%>;
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const label = urlParams.get('proteinLabel');
        const exactMatch = urlParams.get('exactMatch');

        let wp = new LABKEY.QueryWebPart({
            renderTo: webpart.wrapperDivId,
            frame: 'portal',
            title: 'Search criteria : ' + label + ' & exact match: ' + exactMatch,
            schemaName: 'panoramapublic',
            queryName: 'proteinSearchResults',
            showFilterDescription: false,
            parameters: {proteinLabel : label, exactMatch: exactMatch},
            containerFilter: LABKEY.Query.containerFilter.currentAndSubfolders
        });
        wp.render();
</script>