* text=auto !eol
SkylineToolsStore/SkylineToolsStore.iml -text
SkylineToolsStore/module.properties -text
SkylineToolsStore/resources/schemas/dbscripts/postgresql/skylinetoolsstore-0.00-0.01.sql -text
SkylineToolsStore/resources/schemas/dbscripts/postgresql/skylinetoolsstore-13.23-13.24.sql -text
SkylineToolsStore/resources/schemas/dbscripts/postgresql/skylinetoolsstore-13.24-13.25.sql -text
SkylineToolsStore/resources/schemas/dbscripts/postgresql/skylinetoolsstore-13.25-13.26.sql -text
SkylineToolsStore/resources/schemas/dbscripts/sqlserver/skylinetoolsstore-0.00-0.01.sql -text
SkylineToolsStore/resources/schemas/dbscripts/sqlserver/skylinetoolsstore-13.23-13.24.sql -text
SkylineToolsStore/resources/schemas/dbscripts/sqlserver/skylinetoolsstore-13.24-13.25.sql -text
SkylineToolsStore/resources/schemas/dbscripts/sqlserver/skylinetoolsstore-13.25-13.26.sql -text
SkylineToolsStore/resources/schemas/skylinetoolsstore.xml -text
SkylineToolsStore/sampledata/ToolStore/test.pdf -text svneol=unset#unset
SkylineToolsStore/sampledata/ToolStore/user1-v1.zip -text
SkylineToolsStore/sampledata/ToolStore/user1-v2.zip -text
SkylineToolsStore/sampledata/ToolStore/user2-v1.zip -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/RatingManager.java -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/SkylineToolsStoreContainerListener.java -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/SkylineToolsStoreController.java -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/SkylineToolsStoreManager.java -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/SkylineToolsStoreModule.java -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/SkylineToolsStoreSchema.java -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/model/Rating.java -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/model/SkylineTool.java -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/view/SkylineRating.jsp -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/view/SkylineToolDetails.java -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/view/SkylineToolDetails.jsp -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/view/SkylineToolManageOwners.jsp -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/view/SkylineToolStoreUrls.java -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/view/SkylineToolSupplementUpload.jsp -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/view/SkylineToolsStoreUpload.jsp -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/view/SkylineToolsStoreWebPart.java -text
SkylineToolsStore/src/org/labkey/skylinetoolsstore/view/SkylineToolsStoreWebPart.jsp -text
SkylineToolsStore/test_disabled/src/org.labkey.test.tests/ToolStoreRatingsTest.java -text
SkylineToolsStore/test_disabled/src/org.labkey.test.tests/ToolStoreTest.java -text
SkylineToolsStore/test_disabled/src/org.labkey.test.tests/ToolStoreTestPart.java -text
SkylineToolsStore/webapp/SkylineToolsStore/css/jquery-ui.css -text
SkylineToolsStore/webapp/SkylineToolsStore/img/author.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/bg.jpg -text
SkylineToolsStore/webapp/SkylineToolsStore/img/close.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/downloadicon.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/gear.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/greenplus.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/jquery-ui/animated-overlay.gif -text
SkylineToolsStore/webapp/SkylineToolsStore/img/jquery-ui/ui-bg_flat_0_aaaaaa_40x100.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/jquery-ui/ui-bg_flat_75_ffffff_40x100.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/jquery-ui/ui-bg_glass_55_fbf9ee_1x400.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/jquery-ui/ui-bg_glass_65_ffffff_1x400.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/jquery-ui/ui-bg_glass_75_dadada_1x400.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/jquery-ui/ui-bg_glass_75_e6e6e6_1x400.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/jquery-ui/ui-bg_glass_95_fef1ec_1x400.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/jquery-ui/ui-bg_highlight-soft_75_cccccc_1x100.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/jquery-ui/ui-icons_222222_256x240.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/jquery-ui/ui-icons_2e83ff_256x240.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/jquery-ui/ui-icons_454545_256x240.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/jquery-ui/ui-icons_888888_256x240.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/jquery-ui/ui-icons_cd0a0a_256x240.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/language_type.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/link.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/organization.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/pdf-icon.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/pencil.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/placeholder.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/star_empty15x15.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/star_empty20x20.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/star_full15x15.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/star_full20x20.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/trashcan.png -text
SkylineToolsStore/webapp/SkylineToolsStore/img/unknown-icon.jpg -text
SkylineToolsStore/webapp/SkylineToolsStore/img/zip-icon.png -text
SkylineToolsStore/webapp/SkylineToolsStore/js/functions.js -text
signup/SignUp.iml -text
signup/build.gradle -text
signup/module.properties -text
signup/resources/schemas/dbscripts/postgresql/signup-13.20-13.21.sql -text
signup/resources/schemas/dbscripts/postgresql/signup-13.21-13.22.sql -text
signup/resources/schemas/dbscripts/postgresql/signup-13.22-13.23.sql -text
signup/resources/schemas/dbscripts/postgresql/signup-13.23-13.24.sql -text
signup/resources/schemas/dbscripts/sqlserver/signup-13.20-13.21.sql -text
signup/resources/schemas/signup.xml -text
signup/src/org/labkey/signup/SignUpAdmin.jsp -text
signup/src/org/labkey/signup/SignUpController.java -text
signup/src/org/labkey/signup/SignUpListener.java -text
signup/src/org/labkey/signup/SignUpManager.java -text
signup/src/org/labkey/signup/SignUpModule.java -text
signup/src/org/labkey/signup/SignUpSchema.java -text
signup/src/org/labkey/signup/TempUser.java -text
signup/src/org/labkey/signup/signupPage.jsp -text
testresults/TestResults.iml -text
testresults/distributions/skyline/build.gradle -text
testresults/lib/deploy -text
testresults/module.properties -text
testresults/resources/schemas/dbscripts/postgresql/testresults-13.20-13.21.sql -text
testresults/resources/schemas/dbscripts/postgresql/testresults-13.21-13.22.sql -text
testresults/resources/schemas/dbscripts/postgresql/testresults-13.22-13.23.sql -text
testresults/resources/schemas/dbscripts/postgresql/testresults-13.23-13.24.sql -text
testresults/resources/schemas/dbscripts/postgresql/testresults-13.24-13.25.sql -text
testresults/resources/schemas/dbscripts/postgresql/testresults-13.25-13.26.sql -text
testresults/resources/schemas/dbscripts/postgresql/testresults-13.26-13.27.sql -text
testresults/resources/schemas/dbscripts/postgresql/testresults-13.27-13.28.sql -text
testresults/resources/schemas/dbscripts/postgresql/testresults-13.28-13.29.sql -text
testresults/resources/schemas/dbscripts/postgresql/testresults-13.29-13.30.sql -text
testresults/resources/schemas/dbscripts/postgresql/testresults-13.30-13.31.sql -text
testresults/resources/schemas/dbscripts/postgresql/testresults-13.31-13.32.sql -text
testresults/resources/schemas/dbscripts/postgresql/testresults-13.32-13.33.sql -text
testresults/resources/schemas/dbscripts/sqlserver/testresults-13.20-13.21.sql -text
testresults/resources/schemas/testresults.xml -text
testresults/src/org/labkey/testresults/RunDetail.java -text
testresults/src/org/labkey/testresults/SendTestResultsEmail.java -text
testresults/src/org/labkey/testresults/TRStats.java -text
testresults/src/org/labkey/testresults/TestFailDetail.java -text
testresults/src/org/labkey/testresults/TestLeakDetail.java -text
testresults/src/org/labkey/testresults/TestPassDetail.java -text
testresults/src/org/labkey/testresults/TestResultsContainerListener.java -text
testresults/src/org/labkey/testresults/TestResultsController.java -text
testresults/src/org/labkey/testresults/TestResultsManager.java -text
testresults/src/org/labkey/testresults/TestResultsModule.java -text
testresults/src/org/labkey/testresults/TestResultsSchema.java -text
testresults/src/org/labkey/testresults/TestResultsWebPart.java -text
testresults/src/org/labkey/testresults/TestsDataBean.java -text
testresults/src/org/labkey/testresults/User.java -text
testresults/src/org/labkey/testresults/view/failureDetail.jsp -text
testresults/src/org/labkey/testresults/view/flagged.jsp -text
testresults/src/org/labkey/testresults/view/longTerm.jsp -text
testresults/src/org/labkey/testresults/view/runDetail.jsp -text
testresults/src/org/labkey/testresults/view/rundown.jsp -text
testresults/src/org/labkey/testresults/view/trainingdata.jsp -text
testresults/src/org/labkey/testresults/view/user.jsp -text
testresults/webapp/TestResults/css/style.css -text
testresults/webapp/TestResults/img/asc.gif -text
testresults/webapp/TestResults/img/bg.gif -text
testresults/webapp/TestResults/img/desc.gif -text
testresults/webapp/TestResults/img/fail.png -text
testresults/webapp/TestResults/img/flag.png -text
testresults/webapp/TestResults/img/flagoff.png -text
testresults/webapp/TestResults/img/flagon.png -text
testresults/webapp/TestResults/img/leak.png -text
testresults/webapp/TestResults/img/uw.png -text
testresults/webapp/TestResults/js/c3.min.js -text
testresults/webapp/TestResults/js/d3.v3.js -text
testresults/webapp/TestResults/js/generateTrendCharts.js -text
testresults/webapp/TestResults/js/jquery.tablesorter.js -text
testresults/webapp/TestResults/js/multiselect.datepicker.js -text
