* text=auto !eol
lincs/build.gradle -text
lincs/module.properties -text
lincs/resources/lincs_peptide_annotations.txt -text
lincs/resources/lincs_replicate_annotations.txt -text
lincs/resources/queries/targetedms/GCT_input_peptidearearatio.sql -text
lincs/resources/queries/targetedms/GeneralMoleculeAnnotation/GCT_peptide_annotation.qview.xml -text
lincs/resources/queries/targetedms/ReplicateAnnotation/GCT_replicate_annotation.qview.xml -text
lincs/resources/queries/targetedms/TargetedMSRunAndAnnotations.sql -text
lincs/resources/reports/schemas/targetedms/GCT_input_peptidearearatio/GCT[!!-~]File[!!-~]GCP.r -text
lincs/resources/reports/schemas/targetedms/GCT_input_peptidearearatio/GCT[!!-~]File[!!-~]GCP.report.xml -text
lincs/resources/reports/schemas/targetedms/GCT_input_peptidearearatio/GCT[!!-~]File[!!-~]P100.r -text
lincs/resources/reports/schemas/targetedms/GCT_input_peptidearearatio/GCT[!!-~]File[!!-~]P100.report.xml -text
lincs/resources/reports/schemas/targetedms/GCT_input_peptidearearatio/LabKeyInput.r -text
lincs/resources/reports/schemas/targetedms/GCT_input_peptidearearatio/p100_processing.r -text
lincs/resources/schemas/dbscripts/postgresql/lincs-17.20-17.30.sql -text
lincs/resources/schemas/dbscripts/postgresql/obsolete/lincs-17.20-17.21.sql -text
lincs/resources/schemas/dbscripts/sqlserver/lincs-17.20-17.30.sql -text
lincs/resources/schemas/dbscripts/sqlserver/obsolete/lincs-17.20-17.21.sql -text
lincs/resources/schemas/lincs.xml -text
lincs/resources/views/CustomGCT.html -text
lincs/resources/views/CustomGCT.view.xml -text
lincs/resources/views/CustomGCT.webpart.xml -text
lincs/resources/views/GCTDownloadGCP.html -text
lincs/resources/views/GCTDownloadGCP.view.xml -text
lincs/resources/views/GCTDownloadGCP.webpart.xml -text
lincs/resources/views/GCTDownloadP100.html -text
lincs/resources/views/GCTDownloadP100.view.xml -text
lincs/resources/views/GCTDownloadP100.webpart.xml -text
lincs/resources/web/lincs/GENE-E_icon.png -text
lincs/resources/web/lincs/lincs.css -text
lincs/resources/web/lincs/lincs.js -text
lincs/resources/web/lincs/p100_data_flow.png -text
lincs/src/org/labkey/lincs/CustomGctBuilder.java -text
lincs/src/org/labkey/lincs/Gct.java -text
lincs/src/org/labkey/lincs/LincsAnnotation.java -text
lincs/src/org/labkey/lincs/LincsContainerListener.java -text
lincs/src/org/labkey/lincs/LincsController.java -text
lincs/src/org/labkey/lincs/LincsDataTable.java -text
lincs/src/org/labkey/lincs/LincsManager.java -text
lincs/src/org/labkey/lincs/LincsModule.java -text
lincs/src/org/labkey/lincs/LincsSchema.java -text
lincs/src/org/labkey/lincs/view/GctUtils.java -text
lincs/src/org/labkey/lincs/view/LincsDataView.java -text
lincs/src/org/labkey/lincs/view/customGCTForm.jsp -text
lincs/src/org/labkey/lincs/view/downloadCustomGCT.jsp -text
lincs/src/org/labkey/lincs/view/hello.jsp -text
