<script type="text/javascript">

    LABKEY.requiresCss("/lincs/lincs.css");
    LABKEY.requiresScript("/lincs/lincs.js");

    // Initialize
    Ext4.onReady(init);
    function init(){initGCTDownloadTable("GCT File P100");}

</script>

<table id="skylinefiles">
    <thead><tr><th>File</th><th colspan="2">Download</th></tr></thead>
    <tbody></tbody>
</table>
<!--
<div style="margin:20px;">
    <a href="GCT_form" class="button" id="customGctButton">Create Custom GCT</a>
</div>
-->