<script type="text/javascript">

    LABKEY.requiresCss("/lincs/lincs.css");
    LABKEY.requiresScript("/lincs/lincs.js");

    // Initialize
    Ext4.onReady(init);
    function init(){initGCTDownloadTable("GCP");}

    function showCustomGCTForm()
    {
        var url = LABKEY.ActionURL.buildURL("lincs", "createCustomGCT", LABKEY.ActionURL.getContainer());
        window.location = url;
    }

</script>

<table id="skylinefiles">
    <thead><tr><th>File</th><th colspan="2">Download</th></tr></thead>
    <tbody></tbody>
</table>

<div style="margin:20px;">
    <a class="button" id="customGctButton" onclick="showCustomGCTForm()">Create Custom GCT</a>
</div>